.main-container {
  width: 400px;
  margin: auto;
  text-align: center;
}

.input-container,
.output-container {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ced0ce;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.input-container {
  padding-bottom: 20px;
}

.output-container {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
}

.list-item {
  margin: 20px;
  text-transform: capitalize;
  font-size: 1.3rem;
}

button {
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #747578;
  color: white;
  font-weight: bold;
}

input {
  border-radius: 5px;
}

.checkBtn,
.deleteBtn {
  float: right;
}
